*{margin:0; padding:0;}
html,  
body {
  height: 100%;
  width: 100%;
}
.nav{
  text-align: right;
  background-color:gold;
  padding:20px;
}
/* Takes care of bar, so color size and where the words end up */
  
.nav-item{
  display:inline;
  padding: 15px;
}