*{margin:0; padding:0;}
html,  
body {
  height: 100%;
  width: 100%;
  background-image: url(images/play.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav{
  text-align: right;
  background-color:#eccc68;
  padding:20px;
  opacity: 50%;
  
}

  
.nav-item{
  display:inline;
  padding: 15px;
}
/* Nav bar end*/

.opacity{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
} 

h1{
  color: #ffeaa7;
  text-align: center;
  padding-top: 350px;
  font-size: 80px;
  

}

p {
  color: #ffeaa7;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

button{
  display: flex;
  margin: auto;
  margin-top: -300px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffeaa7;
  border: none;
  font-size: 15px;
  font-weight: bold;
  opacity: 70%;
  text-decoration: none;
}

button:hover {
  box-shadow: 0px 2px 2px #222f3e;
  background-color: #fdcb6e;
  text-decoration: none;
  
}
