/* html{
  height: 100%;
  width: 100%;

} */
.products{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    }

.toyitem{
    display: block;
    width: 23%;
}

.toyitem img{
    height: 250px;
    width: auto;
    border-radius:25px;
    padding: 8px;
    
  }
